.haitem_about {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: white;
}

.haitem_about-feature .haitem_feature-container_feature {
    margin: 0;
}

.haitem_about-feature .haitem_feature-container_feature-title {
    max-width: 390px;
}

.haitem_about-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}

.haitem_about-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-family: var(--font-family);
    font-weight: 800;
    max-width: 510px;
    min-width: 420px;
    color: var(--color-bg);
}

.haitem_about-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}
.haitem_about-container .haitem_feature-container_feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}
.haitem_about-container .haitem_feature-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 1050px) {
    .haitem_about-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }
    .haitem_about-heading h1 {
        min-width: 100px;
    }
}

@media screen and (max-width: 650px) {
    .haitem_about-feature .haitem_feature-container_feature-text {
        margin-top: 0.5rem;
    }

    .haitem_about-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
    /*chart css*/
    .progressBar {
        margin-bottom: 1rem;
    }
    .progressBar h4 {
        font-weight: 600;
        font-size: 12px;
    }
    .progressBarContainer, .progressBarValue {
        height: 14px;
    }
    .haitem_about-feature .haitem_feature-container_feature {
        flex-direction: column;
    }
}

@media screen and (max-width: 420px) {
    .haitem_about-container .haitem_feature-container_feature {
        margin: 1rem 0;
        min-width: 100%;
    }
    /*chart css*/
    .skills {
        padding: 1rem;
    }
    .progressBarContainer, .progressBarValue {
        height: 12px;
    }
}